<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>OES</title>
    <style type="text/css">
        .style1 {
            text-align: center;
            background-color: #c0c0c0;
        }

        .style2 {
            text-align: center;
        }

        .style3 {
            background-color: #a6a6a6;
        }

        .style4 {
            text-align: center;
            background-color: #ffccff;
        }

        .style5 {
            text-align: center;
            background-color: #66ccff;
        }

        .style6 {
            text-align: center;
            background-color: #0066ff;
        }
    </style>
</head>

<body>
    <form action="" method="post" style="height: 775px; width: 1080px" class="style3">
        <table style="width: 100%">
            <tr>
                <td>
                    <img alt="logo" height="162" src="images/logo.png" width="1076" />
                </td>
            </tr>
        </table>

        <table style="width: 100%">
            <tr>
                <td>
                    <span class="style4">
                        <marquee direction="right" scrolldelay="100" class="style1">
                            Welcome
                        </marquee>
                    </span>
                </td>
            </tr>
        </table>

        <table style="width: 100%">
            <tr>
                <td class="style2">Online Examination System</td>
            </tr>
        </table>

        <table style="width: 40%">
            <tr>
                <td style="width: 50%" class="style5">
                    <br />
                    <a href="http://127.0.0.1:5000/login">Student</a><br />
                    <br />
                </td>
                <td class="style6">
                    <br />
                    <a href="http://127.0.0.1:5000/login">Instructor</a><br />
                    <br />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>