<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Success</title>

    <style type="text/css">
        .style3 {
            background-color: #a6a6a6;
        }

        .style2 {
            text-align: center;
        }

        .style6 {
            background-color: #CCCCCC;
            text-align: center;
        }

        a: visited {
            text-decoration: none;
        }
    </style>


</head>

<body>
    <table style="width: 100%">
        <tr>
            <td>
                <img alt="logo" height="162" src="/images/logo.png" width="1076" />
            </td>
        </tr>
    </table>

    <table style="width: 100%">
        <tr>
            <td class="style2">Online Examination System </td>
        </tr>
    </table>

    <br />
    <table align="center" style="width: 90%">
        <tr>
            <td class="style6">You have done finished the
                creation of Exam &quot;{{name}}&quot; successfully <br />
                <br />
            </td>
        </tr>
        <tr>
            <td class="style2">
                <a href="http://127.0.0.1:5000/instructor">Ok</a>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />




</body>

</html>