<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>summary</title>

    <style type="text/css">
        .style3 {
            background-color: #a6a6a6;
        }

        .style2 {
            text-align: center;
        }

        .style6 {
            background-color: #CCCCCC;
            text-align: left;
        }
    </style>


</head>

<body>

    <form action="results.html" method="post" style="height: 703px; width: 1080px" class="style3">
        <table style="width: 100%">
            <tr>
                <td>
                    <img alt="logo" height="162" src="/images/logo.png" width="1076" />
                </td>
            </tr>
        </table>

        <table style="width: 100%">
            <tr>
                <td class="style2">Online Examination System </td>
            </tr>
        </table>

        <br />
        <table align="center" style="width: 90%">
            <tr>
                <td class="style6">{{name}} <br />
                    You have done your test!! Thank You!<br />
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Result:</h2>
                </td>
            </tr>
            <tr>
                <td>You achieved {{marks}}/10</td>
            </tr>
            <tr>
                <td>
                    <a href="http://127.0.0.1:5000/student">Ok</a><br />
                    <br />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />

    </form>


</body>

</html>